/** {box-sizing: border-box;}
html { height: 100%; display: flex; }

body
{
  font-family: Helvetica, sans-serif;
  background-color: #DDDDDD;
  margin: auto;
}

.input--text::placeholder
{
  color: #ccc;
}

.input--text
{
  font-size: 1em;
  width: 100%;
  padding: 0.4em;
  color: #000;
  margin-bottom: 1em;
}

.app
{
  background-color: white;
  width: 400px;
  box-shadow: 0px 0px 1em #ccc;
  font-size: 1.25em;
  padding: 1em;
}

.todo
{
  border-top: 1px solid #ddd;
  color: #F94D35;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.8em;
}

.todo__delete
{
  margin-left: auto;
  color: blue;
}

.todo__delete:active
{
  color: red;
}

.todo__state
{
  margin-right: 0.5em;  
}

.todo--completed
{
  color: #fcb3a8;
}

.todo--completed .todo__text
{
  display: inline-block;
  position: relative;
}

.todo--completed .todo__state
{
  visibility: hidden;
}

.todo--completed .todo__state::before
{
  content: "✔";
  visibility: visible;  
  color: red;
  position: relative;
  top: -0.2em;
}

.todo--completed .todo__text::before
{
  content: " ";
  display: block;
  position: absolute;
  height: 0.1em;
  width: 100%;
  margin-top: calc(1em / 2 - 2px);
  border-bottom: 3px solid #F94D35;
}

.btn
{
  font-size: 1em;
  padding: 0.5em;
  font-weight: bold;
  border-radius: 0.2em;
  border: none;
  color: white;
  background-color: #F94D35;
  cursor: pointer;
}

.btn:active
{
  position: relative;
  top: 1px;
}

.hidden
{
  display:none;
}

.alert
{
  
  padding: 0.5em;
  margin-bottom: 1em;
  color: red;
}*/

/*--------------------------*/
*
{
    box-sizing:         border-box;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
}

body
{
  margin: 0;
  padding: 0;
  background: #111616;
  font-family: arial, sans-serif;
}

a
{
  text-decoration: none
}






.user-card
{
	width: 350px;
	height: 300px;
	margin: calc(50vh/2) auto;
  position: relative;
	background: #fff;
	overflow: hidden;
	box-shadow:         0 1px 3px 0 rgba(0,0,0,0.08);
	-moz-box-shadow:    0 1px 3px 0 rgba(0,0,0,0.08);
	-webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.08);
  border-radius:         5px;
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
}
.alert
{
  
  padding: 0.5em;
  margin-bottom: 1em;
  /*color: red;*/
  border-radius: 0;
  text-align: center;
}
.hidden
{
  display:none;
}

input
{
	width: 100%;
	height: 40px;
	border-radius:         3px;
	-moz-border-radius:    3px;
	-webkit-border-radius: 3px;
	border: 1px solid #dee3e4;
	padding: 3px 12px;
	margin: 6px 0;
}

input:focus
{
	outline: none;
	border: 1px solid #111616;
	transition:         all .5s ease-in-out;
	-o-transition:      all .5s ease-in-out;
	-moz-transition:    all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
}

.login-box
{
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: calc(100% - 25px);
	background: #fff;
  border-radius:         5px;
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
}

.login-box{
	padding: 20px 40px;
	right: 0px;
}


.login
{
	text-align: center;
	color: #fff;
	background: #F03136;
	line-height: 30px;
	opacity: 0.95;
  cursor: pointer
}

.login:hover{opacity: 1}

.or
{
	display: block;
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #dee3e4;
	position: relative;
	margin: 20px 0;
}

.or:before
{
	content: 'or';
	width: 40px;
	height: 18px;
	position: absolute;
	top: -5px;
	right: calc(50% - 20px);
	background-color: #fff;
	text-align: center;
	line-height: 10px;
	color: #555
}

.login-with-fb,
.login-with-google
{
	width: 100%;
	height: 40px;
	display: block;
	margin: 15px 0;
	color: #fff;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	opacity: .95;
  border-radius:         3px;
  -moz-border-radius:    3px;
  -webkit-border-radius: 3px;
}

.login-with-fb:hover,
.login-with-google:hover
{
	opacity: 1;
}

.login-with-fb
{
	background: #527EBF
}

.login-with-fb .icon,
.login-with-google .icon
{
	float: left;
	font-size: 21px;
	width: 50px;
	height: 26px;
	margin: 7px;
	padding: 2px;
	text-align: center;
	border-right: 1px solid #fff;
}

.FBbtn{
	width: 100%;
	height: 40px;
	background-color: #4469B0!important;
	border-color: #4469B0!important;
}


/**** footer *****/

.user-card .footer
{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 25px;
	text-align: center;
	color: #666;
	font-size: 13px;
	font-family: sans-serif;
}

.footer a
{
	color: #F03136;
}

