/** {box-sizing: border-box;}
html { height: 100%; display: flex; }

body
{
  font-family: Helvetica, sans-serif;
  background-color: #DDDDDD;
  margin: auto;
}

.input--text::placeholder
{
  color: #ccc;
}

.input--text
{
  font-size: 1em;
  width: 100%;
  padding: 0.4em;
  color: #000;
  margin-bottom: 1em;
}

.app
{
  background-color: white;
  width: 400px;
  box-shadow: 0px 0px 1em #ccc;
  font-size: 1.25em;
  padding: 1em;
}



.todo
{
  border-top: 1px solid #ddd;
  color: #F94D35;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.8em;
}

.todo__delete
{
  margin-left: auto;
  color: blue;
}

.todo__delete:active
{
  color: red;
}

.todo__state
{
  margin-right: 0.5em;  
}

.todo--completed
{
  color: #fcb3a8;
}

.todo--completed .todo__text
{
  display: inline-block;
  position: relative;
}

.todo--completed .todo__state
{
  visibility: hidden;
}

.todo--completed .todo__state::before
{
  content: "✔";
  visibility: visible;  
  color: red;
  position: relative;
  top: -0.2em;
}

.todo--completed .todo__text::before
{
  content: " ";
  display: block;
  position: absolute;
  height: 0.1em;
  width: 100%;
  margin-top: calc(1em / 2 - 2px);
  border-bottom: 3px solid #F94D35;
}

.btn
{
  font-size: 1em;
  padding: 0.5em;
  font-weight: bold;
  border-radius: 0.2em;
  border: none;
  color: white;
  background-color: #F94D35;
  cursor: pointer;
}

.btn:active
{
  position: relative;
  top: 1px;
}

.hidden
{
  display:none;
}

.alert
{
  background-color: #B4C4E7;
  padding: 0.5em;
  margin-bottom: 1em;
  color: #32549d;
}*/

*
{
    box-sizing:         border-box;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
}

body
{
  margin: 0;
  padding: 0;
  background: #111616;
  font-family: arial, sans-serif;
}

a
{
  text-decoration: none
}
.alert
{
  
  padding: 0.5em;
  margin-bottom: 1em;
  /*color: red;*/
  border-radius: 0;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
}
.hidden
{
  display:none;
}
.user-card
{
	width: 350px;
	height: 350px;
  /*margin: calc(28%/2) auto; for dekstop */
  margin:calc(50vh/2) auto;
  position: relative;
	background: #fff;
	overflow: hidden;
	box-shadow:         0 1px 3px 0 rgba(0,0,0,0.08);
	-moz-box-shadow:    0 1px 3px 0 rgba(0,0,0,0.08);
	-webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.08);
  border-radius:         5px;
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
}

input
{
	width: 100%;
	height: 40px;
	border-radius:         3px;
	-moz-border-radius:    3px;
	-webkit-border-radius: 3px;
	border: 1px solid #dee3e4;
	padding: 3px 12px;
	margin: 6px 0;
}

input.Bday{
  color: #757575;
}

input:focus
{
	outline: none;
	border: 1px solid #111616;
	transition:         all .5s ease-in-out;
	-o-transition:      all .5s ease-in-out;
	-moz-transition:    all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
}


.signup-box
{
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: calc(100% - 25px);
	background: #fff;
  border-radius:         5px;
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
}
.signup-box{
	padding: 40px;
	right: 0;
}
/*
.SignUp
{
	text-align: center;
	color: #fff;
	background: #F03136;
	line-height: 30px;
	opacity: 0.95;
  cursor: pointer
}*/
a#btnSignUp {
    width: 100%;
    border-radius: 3px;
    background-color: #EF3E47!important;
}


/**** footer *****/

.user-card .footer
{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 25px;
	text-align: center;
	color: #666;
	font-size: 13px;
	font-family: sans-serif;
}

.footer a
{
	color: #F03136;
}



/*--------------------mediaquery---------------------*/


